@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;600&family=Bebas+Neue&family=DM+Sans:wght@400;700&family=Karla:wght@300;400;700&family=League+Spartan:wght@100;400;700&family=Merriweather:wght@300;400;700&family=Open+Sans:wght@300;400;600&family=Zen+Dots&display=swap');@font-face {
    font-family: 'Hittedal Script Font';
    font-style: normal;
    font-weight: normal;
    src:local(Hittedal Script Font) ,url('fonts/HittedalscriptDemo-JR09m.otf') format('woff');
}
h1{
    font-family: 'Karla', sans-serif;
   
    
    font-weight: 200;
}